    /* General */
    body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5fa;
    margin: 0;
    padding: 40px 20px;
    font-size: 18px;
    color: #1c1c1c;
    }
    .compagny h1 {
        padding-bottom: 10px;
    }
    .container {
    max-width: 1200px;
    margin: auto;
    }

    .content {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    align-items: flex-start;
    }

    /* Form Card */
    .form-card {
    background: white;
    padding: 58px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    max-width: 460px;
    flex: 1;
    }

    .form-card h2 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    }

    .form-card label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    }

    .form-card input {
    width: 100%;
    padding: 16px;
    margin-bottom: 24px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    }

    .form-card p {
    font-size: 16px;
    margin-bottom: 20px;
    }

    .form-card a {
    color: #0645ad;
    text-decoration: underline;
    }

    .signup-btn {
    width: 100%;
    padding: 16px;
    background-color: #2563eb;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    }

    .signup-btn:hover {
    background-color: #1e40af;
    }

    .divider {
    text-align: center;
    margin: 20px 0;
    color: #999;
    font-weight: 500;
    }

    .google-btn {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    gap: 12px;
    transition: box-shadow 0.2s;
    }

    .google-btn img {
    width: 20px;
    }

    .google-btn:hover {
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    }

    /* Benefits */
    .benefits {
    flex: 1;
    max-width: 500px;
    }

    .benefits ul {
    list-style: none;
    padding: 0;
    margin-bottom: 24px;
    }

    .benefits li {
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative;
    }

    .benefits li::before {
    content: "✔";
    color: #2563eb;
    position: absolute;
    left: 0;
    }

    .info-note {
    font-size: 16px;
    color: #333;
    }
